@import "tailwindcss";

*{
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
}

.pricings{
  overflow-x: auto;
}
.pricings .container{
  min-height: 30px;
  min-width: 300px;
}

.pricing-info{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
}
.pricing-info span{
  text-align: left;
}
titick{
  color: green;
}

.statistics{
  
}

/* Hide the default checkbox */
.custom-checkbox {
  width: 24px;  /* Size of the checkbox */
  height: 24px;
  appearance: none;
  border: 3px solid #000435; /* Border width & color */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Style when checked */
.custom-checkbox:checked {
  background-color: white;
  border-color: #000435;
  position: relative;
}

/* Add a checkmark using pseudo-element */
.custom-checkbox:checked::after {
  content: "✔";  /* Unicode checkmark */
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
}
